<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <%- include('navbar', {links: links}) %>
        
        <h3>Message Details:</h3>
        <p> Message: <%= message.text %> </p>
        <p> User: <%= message.user %> </p>
        <p> Added: <%= message.added.toLocaleString() %> </p>
            
        <%- include('footer', {}) %>
    </body>
</html>